$titleTopMargin: 1rem;
$textColor: #ffffff;

@keyframes expand {
    0% {
        scale: 0.5;
    }
    100% {
        scale: 1;
        border-radius: 0rem;
    }
}

@keyframes moveIn {
    0% {
        left: 250%;
    }

    50% {
        opacity: 1;
    }

    100% {
        rotate: 0deg;
        left: 100%;
        opacity: 1;
    }
}

@keyframes flyIn {
    0% {
        top: 0;
        opacity: 0;
    }

    50% {
        top: $titleTopMargin;
        opacity: 1;
    }

    100% {
        top: $titleTopMargin;
        opacity: 1;
    }
}