@import './page-variables.scss';

#coverImage {
    scale: 0.5;

    transition: 1s ease-in-out;
    animation: expand 2s 1s forwards;
    border-radius: 2rem;

    #codeBackground {
        opacity: 0;
        height: 65vh;
    }

    #earth {
        display: none;
    }

    #earthMobile {
        // center the image
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100vw;
        height: auto;
    }

    height: auto;
}