@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import './page-variables.scss';

* {
    font-family: 'Roboto', sans-serif;
}

div {
    margin: 0;
    padding: 0;
}

.centerTitle {
    width: fit-content;
    margin: 1rem auto;
    margin-top: 3rem;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(141deg, #626266, #1e1e22);
    font-size: 2rem;
}