@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html {
  scroll-behavior: smooth;
  color: #000;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-image: radial-gradient(#2b2f34 0.5px, rgba(0,0,0,0) 0.95px);
  background-size: 15px 15px;
  background-repeat: repeat;
  background-color: #040407;
}

html, * {
  font-family: 'Roboto', sans-serif;
  -webkit-text-size-adjust: 100%;
}