$textColor: #ffffff;
$navbarBackgroundColor: #f6f6f6;
$navbarBackgroundColorDark: #1b1b1b;

$lightModeBackground: #f6f6f6;
$darkModeBackground: #1b1b1b;
$darkContrast: #2d2d2d;

$borderRadius: 2rem;
$boxShadow: 0 4px 2.5rem 0 #1b1b1b23;
$boxShadowDark: 0 4px 2.5rem 0px #e4e4e440;
$lightBoxShadowDark: 0 4px 1rem 0px #e4e4e440;

$maxWidth: 888px;